/**
 * Site uses the Solarized color palette
 * https://gist.github.com/planetoftheweb/6479462
 */
/* Gist meta section */
/* Main background and general text style */
/* Line numbers */
/* Colors! */
.gist {
  /* primary text */
  /* access the border */
  /* Classes used for individual code components */ }
  .gist .line-data {
    color: #475B62; }
  .gist .gist-file {
    border: none !important; }
  .gist .gist-data {
    padding: 1em;
    background-color: #EAE3CB !important;
    color: #475B62 !important; }
  .gist .highlight {
    background-color: #EAE3CB !important; }
  .gist .main-content table td {
    border: none !important; }
  .gist .pl-k {
    color: #180821 !important; }
  .gist .pl-s {
    color: #D8BEED !important; }
  .gist .pl-s3 {
    color: #DB4E5B !important; }
  .gist .pl-s1 {
    color: #A72E16 !important; }
  .gist .pl-st {
    color: #247BA0 !important; }
  .gist .pl-en {
    color: #70C1B3 !important; }
  .gist .pl-pds {
    color: #AEADF0 !important; }
  .gist .line-numbers {
    background-color: #EAE3CB !important;
    color: #259286 !important;
    border: none !important; }
  .gist .gist-meta {
    display: none;
    background-color: #e3d9b9 !important;
    color: #536870 !important; }
